.Navigation {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 100;
}

.nav {
  left: 0;
  height: 8vh;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.nav-profil {
  display: flex;
  align-items: center;
}
.navright {
  display: flex;
  gap: 20px;
  align-items: center;
}

.username {
  margin: 0;
  font-size: 18px;
  color: #616262;
}

.logo-img {
  width: 175px;
  height: 30px;
}

.icn-nav {
  color: #616262;
}

.icn-size {
  font-size: 25px;
  color: #616262;
}
.link{
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}