.nav__cont {
 
    position: fixed;
    width: 12%;
    top:7vh;
    height:  92vh;
    z-index:  101;
    overflow:hidden;
    transition:width .3s ease;
    background-color: white;
    cursor:pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    &:hover {
      width: 220px;
    }
    @media screen and (min-width: 600px) {
      width: 60px;
    }
  }
  
  .link.active {
    text-align: center;
    width: 180px;
    color: #FA9E15;
    text-align: center;
    transition: none;
    .ic{
      color: #FA9E15;
    }
  
  }
  
  .navv {
    list-style-type: none;
    color:white;
    color: #54a4ff;
    display:flex;
    flex-direction: column;
    &:first-child {
      padding-top: 2.5rem;
    }
  }
  
  .nav__items {
    display: flex; /* Afficher les éléments en ligne */
    align-items: center; /* Centrer les éléments verticalement */
    margin-bottom: 1rem;
     a {
      position: relative;
      padding-right:15px;
      transition:all .3s ease;
      margin-left:45px;
      text-decoration: none;
      color :#616262;
      font-family: 'roboto';
      font-weight: 10;
      font-size: 1em;
       &:after {
         content:'';
         width:  180px;
         height: 100%;
         position: absolute;
         top:0;
         left:0;
         border-radius:2px;
         background:radial-gradient(circle at 94.02% 88.03%, #7da1e3, transparent 100%);
         opacity:0;
         transition:all .5s ease;
         z-index: -10;
       }
    }
    &:hover a:after {
      opacity:1;
    }
     .ic{
      width: 25px;
      height:25px;
      position: fixed;
      left: 17.5px;
      margin-right: 20px;
      cursor:pointer;
      color:#616262;
      @media screen and(min-width:600px) {
        width:32px;
       height:32px;
      }
    }
  }
  
  
  
  
  