.create-user-form{
  padding-top: 30px;
}


.form-row {
  display: flex;
  justify-content: space-between;
}
.form-group {
  flex: 0 0 48%; 
}


  .title1 {
    color: #5B548E; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Semi-gras */
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center; 
}

.btn{
  flex: 0 0 calc(15% ); /* Largeur de 50% pour chaque champ avec un petit espace entre eux */
    text-decoration: none  ;
    width: 130px;
    height: 40px ;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* meduim */
    font-size: 16px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;

}
.create{
    background-color :#0047FF; 
    color : white ;


}
.cancel{
    color :#0047FF; 
    background-color : white ;
   border-color:#0047FF ;

}

.btns{
  display: flex;
  
 
}



.btn{

  text-decoration: none  ;
  width: 200px;
  height: 40px ;
  border-radius: 15px;
  margin-top: 30px;
  transition: border-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* meduim */
  font-size: 16px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin-right: 4rem;

}
.create{
  background-color :#0047FF; 
  color : white ;


}
.cancel{
  color :#0047FF; 
  background-color : white ;
border-color:#0047FF ;

}

.btns{
  display: flex;
  justify-content: center; /* Center horizontally */
}


/* Style for select elements */
select {
  margin-left: 40px; 
  width: 330px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #c40c0c;
  font-size: 16px; /* Same font size as input labels */
  font-weight: normal; /* Same font weight as input labels */
  font-family: inherit; /* Inherit font family from parent */
  background-color: #fff; /* Background color */
  outline: none; /* Remove default focus outline */
  /* Add any other styles you need */
}


/* Style for select element when focused */
select:focus {
  border-color:  rgba(23, 191, 107, 0.87); /* Change border color when focused */
}

/* Style for select element when hovered */
select:hover {
  border-color: #6c757d; /* Change border color on hover */
}


  input[type="text"],input[type="email"] {
    margin-left: 40px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:#929191;

  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  
  
  .save-button {
    padding: 15px 30px;
    border: 2px solid rgba(23, 191, 107, 0.87);
    background-color: rgba(23, 191, 107, 0.87);
    border-radius: 30px;
    margin: 20px; 
    width: 120px;
    height: auto;
    justify-content: end;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 70px;
  }

  
  
  .frame1 p {color: #100b39;
    width: auto;
    text-align: center;
    margin: 20px;
    font-size: larger;
  
  }
  .form-group label {
    text-align:left;
    margin-left: 50px;
    display: block;
    margin-bottom: 5px;
    color: #100b39;
    font-size: medium;
  }
  
  .form-group input {
    
    width: 300Px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  