
.pageEpc{
  width: 100%;
  height: 100%;
}
.right-buttons a {
  text-decoration: none; /* Remove underline from links */
}
.right-buttons {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
  
  } 
  .commands-list{
    background-color: #100B39;
  }
  .create-receipt{
    background-color: #17BF6B;
  }
  .view-receipt{
    background-color: #0047FF;
  }
  .right-buttons button {
    width: 180px;
    border-radius: 30px;
    margin-right: 80px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff; /* Change the text color */
    cursor: pointer;
  }
.num-command{
  margin: 20px;
  margin-left: 5%;}
.EPC {
  height: max-content;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  border: 1px solid #0e0e0e;
}
  .Esp-reserve{
    width: 25%;
    padding-left: 10px;
    margin-top: -80px;
    font-size:large;
  }
  .republic-alg{ 
    text-align: center;
    font-size:large ;
    padding: inherit;
    padding-right: 0;
   
  }
.top-Epc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-color: transparent; 
  margin-left: 4%;
  margin-top: 5%;
  
 
}
 .table1 {
    margin-bottom: 0;
    font-size:large;
    width: 100%;
    table-layout:fixed; 
    padding: inherit;
  } .left-col{
    font-size:large;
    padding: 10px;
  }
  .right-col {
    font-size:large;
    display:flex;
    justify-content: center;
  border: 1px solid #0e0e0e;
  background-color: #D9D9D9;
  padding: inherit;
  }  
 .info-service{
  font-size:large;
 width: 50%;
  border: 1px solid #9e9d9d;
  padding: inherit;
 }
  .table2 {
    margin-bottom: 0;
    font-size:large;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    padding: inherit;
  }
  .RIGHT-CARA{
    font-size:large;
    display:flex;
      justify-content: right;
      padding:10px;
    }
  .obj-cmd{ padding: inherit;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   font-size:large;
   align-items: baseline;
   border: 1px solid #000;
  }
    .table3 {
      margin-bottom: 0;
      font-size:large;
      width: 100%;
      padding: inherit;
      border-collapse: collapse;
      border: 1px solid #000; /* Add border to the table */
      table-layout: fixed; 
    }
    .table3 thead {
      padding: inherit;
      background-color: #8cd9f1; /* Color the header background */
    }
    .table3 th,
    .table3 tr,
    .table3 td {
      font-size:large;
      border: 1px solid #000;
      padding: 0px;
      text-align: center;
     
    }
    .table3 th:nth-child(2){
      width: 40%; /* Adjust the width as needed */
  text-align: center;
    }
.table3 td:nth-child(2) {
  width: 40%; /* Adjust the width as needed */
  text-align: left; /* Center align the content */
  padding-left: 2px;
}
.tr-table{
  background-color: #DCE6F1;
}
    .montant{ 
      font-size:large ;
      margin-top: 2px;
      width:60%;
      padding-left: 10px;
      border: 1px solid #000;
    height: 100%;
    }
    .footer {
      font-size:large;
      margin-top: 0px;
     padding-left: 10px;
    }.directeur{
      margin-top: 0px;
      font-size:larger;
      text-align: right;
      margin-bottom: 20px;
      MARGIN-RIGHT: 30px;
    }
    .edit1 {
      background-color: orange;
      color: white;
      width: 130px;
      height: 40px ; 
      border-radius: 30px;
      border-color: transparent;
    }
    .delete1 {
      background-color: red;
      color: white;
      margin-left: 10px;
      width: 130px;
      height: 40px ; 
      border-radius: 30px;
      border-color: transparent;
    }
    .download1{
      background-color :#0047FF; 
      margin-left: 10px;
    color : white ;
    width: 130px;
    height: 40px ; 
    border-radius: 30px;
    border-color: transparent;
    }
    
    .contner1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-left: 9%;border-color: transparent;
    }
 
    .buttns1 {
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
      .td-table{
        border: none;
      }