.container{ border: 0px solid;
    font-size: 18px;
    }
    
    section{
        display: flex;
        height: 92vh;
    }
    
    
  
    .section-2{
        border-color: transparent; 
        width: 85%;
        margin-top:  8vh;
        margin-left: 15%;
        padding: 40px;
    }
    .profil{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 10%;
    }
    .imgBox{
        border-radius: 50%;
        width: 8%;
        height: 8%;
        overflow: hidden;
        border: 3px solid white;
        flex-shrink: 0;
    }
    .imgBox img{
        width: 100%;
    }
    ul li a{
        
        text-decoration: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 40px;
        transition: .5s;
    }
    .log{
        display: block;
        position: absolute;
        bottom: 0;
        top: 70%;
    }
    
    ul li a i{
        font-size: 30px;
    }
    li{
        list-style-type : none;
    }
    .comp{
        border: 1px solid #F0F4F6;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 40%;
        transition: .5s;
        width: 80%;
        margin-top: 2%;
        height: 60px;
        transition: background-color 0.3s, color 0.3s;

    }
    .edit{
        text-decoration: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10%;
        transition: .5s;
        padding-left: 10%;

        
    }
    .comp:hover {
        background-color: #adafb1; 
        color: white;
    
      }
    .e{
        width: 400px;    
        text-align: left;
        
       
    }
    .admin{
        color: rgba(58, 53, 65,0.6);
    }
    .name{
        color: rgba(58, 53, 65,0.87);
        font-size: 1.6rem;
    }
    .ena{
        margin-left: 50%;
        color: rgba(23, 191, 107,0.87);
    }
    .next{
        margin-top: 10%;
        margin-left: 20%;
    }
    