.profil{
  display: flex;
  align-items: center;
  gap: 30px;
  
}


.section-2 {
  align-items: center;
  width: 85%;
  margin-left: 15%;
  margin-top: 12vh;

}
section{
  display: flex; 
  height: 92vh;
  align-items: center;
 }
 

 .pwd { 

  width: 600px;
 box-shadow: 0 5 15px rgba(234, 233, 233, 0.5); 
 border-radius: 20px;
 background-color: #ffffff;
 border: 1px solid #e2dddd; /* Set border to solid and specify color */
 text-align: center;
 margin-top: 30px;

 }
  
 
  
  input[type="text"],input[type="email"] {
    margin-left: 40px;
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:#929191;
  }
  
  
  .save-button {
    padding: 15px 30px;
    border: 2px solid rgba(23, 191, 107, 0.87);
    background-color: rgba(23, 191, 107, 0.87);
    border-radius: 30px;
    width: 120px;
    height: auto;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  .save-button:hover {
    background-color: rgba(255, 255, 255, 0.87); 
    border: white;
    color: rgba(23, 191, 107, 0.87); 
  }
  .cancel-button {
    padding: 15px 30px;
    border: 2px solid rgba(23, 191, 107, 0.87);
    background-color:white;
    border-radius: 30px;
    
    width: 120px;
    height: auto;
    color: rgba(23, 191, 107, 0.87);
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  .cancel-button-clicked {
    padding: 15px 30px;
    border: 2px solid rgba(23, 191, 107, 0.87);
    background-color:rgba(23, 191, 107, 0.87); 
    border-radius: 30px;
    width: 120px;
    height: auto;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }.cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.87); 
    border: white;

    color: rgba(23, 191, 107, 0.87); 
  }
  

  .button-container{
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
      display: flex;
      justify-content: center;
  
    
  }
  
  .pwd p 
  {color: #5B548E;
    width: auto;
    text-align: center;
    margin: 30px;
    font-size: 25px;
    margin-left:20px
  
  }
  .form-group label {
    text-align:left;
    margin-left: 150px;
    display: block;
    color: #5B548E;
    font-size: medium;
  }
  
  .form-group input {
    width: 300Px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .edit-password .password-warning {
    color: red;
    font-size: 14px;
  }
  

 
.admin{
    color: rgba(58, 53, 65,0.6);
}
.name{
    color: rgba(58, 53, 65,0.87);
}
.ena{
    margin-left: 50%;
    color: rgba(23, 191, 107,0.87);
}


.imgBox{
  border-radius: 50%;
  width: 8%;
  height: 8%;
  overflow: hidden;
  border: 3px solid white;
  flex-shrink: 0;
}
.imgBox img{
  width: 100%;
}
