.reset1{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    padding-top: 50px;
}


.partie2 {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 30px;
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        flex-direction: column;
     
}

.return-flech{
  color: rgba(16, 11, 57, 0.77);
 margin-right: 300px;
}
.error-message{
  color: red;

}

.title1 {
        color: #5B548E; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; /* Semi-gras */
        font-size: 25px;
        margin-bottom: 10px;
  
}

.return {
    color: rgba(16, 11, 57, 0.77);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* meduim*/
    font-size: 16px;
    margin-top: 10px;
    margin-left : 170px ;
   text-decoration:none ;

}
.description{
   
    color : rgba(138, 141, 147, 0.5) ; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* meduim */
    font-size: 14px;

}

  
  .email-input {
    width: 300px;
    height: 40px ;
    padding-left: 15px;
    border: 1px  #ced4da;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    color :#C7C9CB; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* meduim */
    font-size: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); 
    margin-bottom: 10px; 

  }




  .email-input::placeholder {
    color: #C7C9CB; /* Change the color of the placeholder text */
  }
  

.btn--reset{
  text-decoration: none  ;
  width: 300px;
  height: 40px ;
  border-radius: 15px;
  margin-top: 17px;
  transition: border-color 0.3s ease;
  background-color :#100B39; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* meduim */
  font-size: 16px;
  color : white ;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;

}

  
.email-box{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
  
  .email-input:focus {
    border-color: #007bff;
  }
  
  .email-input:focus + .email-label {
    top: -12px;
    font-size: 12px;
    color: #007bff;
  }


  .email{
    color: #5B548E; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* meduim  */
    font-size: 16px;
    margin-bottom: 2px; /* Add margin as needed */
    margin-right: 225px;
  }
  

 