.dwnuser{
    display: flex;
    height: 92vh;
    
  }
  
  .Sect2user{
    width: 85%;
    margin-left: 10%;
    margin-top: 8vh;
  }

  .downuser{
    padding-top: 20px;
    width:  85%;
    margin-left: 10px;
  }