/* role.css */
.modal-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 5px #100b39;
  width: 600px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 2px 5px #100b39;
  z-index: 103;
}

.modal-content-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #5b548e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Semi-gras */
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #3a3541;
}

.role-list {
  display: flex; /* Utiliser flexbox pour aligner les éléments */
  flex-direction: column; /* Aligner les éléments en colonne */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  list-style: none; /* Supprimer les puces de liste */
  padding: 0; /* Supprimer les marges intérieures de la liste */
  height: 200px;
}

.role-list li label {
  padding-right: 30px;
}

.role-list li label {
  vertical-align: middle; /* Aligner verticalement le texte du label au milieu */
}

.role-list li input[type="checkbox"] {
  margin-right: 30px; /* Ajouter un espacement de 30px à droite de la case à cocher */
  vertical-align: middle; /* Aligner verticalement la case à cocher au milieu */
}

.btn {
  text-decoration: none;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  margin-top: 30px;
  transition: border-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* meduim */
  font-size: 16px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin-right: 1rem;
}
.add {
  background-color: #0047ff;
  color: white;
}
.cancel {
  color: #0047ff;
  background-color: white;
  border-color: #0047ff;
}

.btns {
  display: flex;
  justify-content: center; /* Center horizontally */
}
