.oper{
    width: 93%;
    height: 5px;
    display: flex;
   background-color: white;
   align-items: center;
   margin-top: 10px;
   padding: 20px;
   gap: 50px;
}
.edi{
    text-decoration: none;
    width: 100px;
    color: #FA9E15;
    margin-left: 200px;
    
}
.del{
    
    text-decoration: none;
    width: 100px;
    margin-right: 50px;
    color: #D42803;
    background-color: white;
    border: none;
    font-size: 18px;

}
.ops{
    margin-top: 100px;
}
input{
    width: 100px;
}
.name{
    
    text-align: left;
    width: 800px;
    
    
}